<form class="effect-template" id="effect-{{index}}">
    <input type="hidden" name="effect-type-{{index}}" value="{{choosenEffect}}">
    <span class="effect-name">{{index}} - </span><span data-i18n="effects.DefBoost.name"></span>
    <span data-i18n="effects.DefBoost.value"></span> : 
    <input type="number" name="effect-value-{{index}}" value="1" min="-6" max="6" step="1">

    <span data-i18n="effects.DefBoost.target"></span> :
    <select name="effect-target-{{index}}">
        <option value="0"><span data-i18n="effects.DefBoost.targets.self"></span></option>
        <option value="1"><span data-i18n="effects.DefBoost.targets.enemy"></span></option>
    </select>
</form>