<form class="effect-template" id="effect-{{index}}">
    <input type="hidden" name="effect-type-{{index}}" value="{{choosenEffect}}">
    <span class="effect-name">{{index}} - </span><span data-i18n="effects.drop.name"></span>
    <span data-i18n="effects.drop.value"></span> : 
    <input type="number" name="effect-value-{{index}}" value="1" min="1" max="5" step="1">

    <span data-i18n="effects.drop.target"></span> :
    <select name="effect-target-{{index}}">
        <option value="0"><span data-i18n="effects.drop.targets.self"></span></option>
        <option id="effect-target-{{index}}-option2" value="1"><span data-i18n="effects.drop.targets.enemy"></span></option>
    </select>
</form>