<h1 data-i18n="card.title"></h1>

<form id="card-form">
    <span data-i18n="card.name"></span> : <input type="text" name="card-name" id="card-name" required>
    <br>
    <span data-i18n="card.description"></span> : <input type="text" name="card-description" id="card-description">
    <br>
    <br>
    <div id="colors-form-spot"></div>
    <br>
    <div id="types-form-spot"></div>
    <br>
    <div id="grades-form-spot"></div>
    <br>
    <div id="effects-form-spot"></div>

    <div id="effects-templates-list"></div>

    <br>
    <br>
    <button data-i18n="card.create-button" type="button" onclick="createCard()"></button>
</form>