<form id="colors-form">
    <span data-i18n="colors.description"></span><br>
    <span data-i18n="colors.title"></span> :
    <select id="dyes" name="dyes">
        <option value="-5"><span data-i18n="colors.colors.dark"></span></option>
        <option value="0"><span data-i18n="colors.colors.neutral"></span></option>
        <option value="1"><span data-i18n="colors.colors.earth"></span></option>
        <option value="2"><span data-i18n="colors.colors.water"></span></option>
        <option value="4"><span data-i18n="colors.colors.fire"></span></option>
        <option value="5"><span data-i18n="colors.colors.light"></span></option>
    </select>
</form>