<form id="grades-form">
    <span data-i18n="grades.description"></span><br>
    <span data-i18n="grades.title"></span> :
    <select id="grades" name="grades">
        <option value="1"><span data-i18n="grades.grades.0"></span></option>
        <option value="2"><span data-i18n="grades.grades.1"></span></option>
        <option value="3"><span data-i18n="grades.grades.2"></span></option>
        <option value="4"><span data-i18n="grades.grades.3"></span></option>
        <option value="5"><span data-i18n="grades.grades.4"></span></option>
        <option value="6"><span data-i18n="grades.grades.5"></span></option>
        <option value="7"><span data-i18n="grades.grades.6"></span></option>
        <option value="8"><span data-i18n="grades.grades.7"></span></option>
        <option value="9"><span data-i18n="grades.grades.8"></span></option>
        <option value="10"><span data-i18n="grades.grades.9"></span></option>
        <option value="11"><span data-i18n="grades.grades.10"></span></option>
        <option value="12"><span data-i18n="grades.grades.11"></span></option>
        <option value="13"><span data-i18n="grades.grades.12"></span></option>
        <option value="14"><span data-i18n="grades.grades.13"></span></option>
    </select>
</form>