<h1 data-i18n="card.title"></h1>

<form id="card-form">
    <span data-i18n="card.name"></span> : <input type="text" name="card-name" id="card-name" required>
    <br>
    <span data-i18n="card.description"></span> : <input type="text" name="card-description" id="card-description">
    <br>
    <span data-i18n="card.color"></span> :
    <select id="dyes" name="dyes">
        <option value="-5"><span data-i18n="colors.colors.dark"></span></option>
        <option value="0"><span data-i18n="colors.colors.neutral"></span></option>
        <option value="1"><span data-i18n="colors.colors.earth"></span></option>
        <option value="2"><span data-i18n="colors.colors.water"></span></option>
        <option value="4"><span data-i18n="colors.colors.fire"></span></option>
        <option value="5"><span data-i18n="colors.colors.light"></span></option>
    </select>

    <br>
    <br>

    <form id="effects-form">
        <span data-i18n="card.effects"></span> : 
        <select id="effects" name="effects">
            <option value="Damage"><span data-i18n="effects.damage.name"></span></option>
            <option value="Draw"><span data-i18n="effects.draw.name"></span></option>
            <option value="Discard"><span data-i18n="effects.discard.name"></span></option>
            <option value="Drop"><span data-i18n="effects.drop.name"></span></option>
            <option value="Heal"><span data-i18n="effects.heal.name"></span></option>
            <option value="Defence"><span data-i18n="effects.defence.name"></span></option>
            <option value="AttBoost"><span data-i18n="effects.AttBoost.name"></span></option>
            <option value="DefBoost"><span data-i18n="effects.DefBoost.name"></span></option>
        </select>
        <br>
        <button data-i18n="card.add-effect" type="button" onclick="addEffectTemplate()"></button>
    </form>

    <div id="effects-templates-list">
    </div>

    <br>
    <br>
    <button data-i18n="card.create-button" type="button" onclick="createCard()"></button>
</form>